In [1]:
import json
import numpy as np
import csv
import requests
import pandas as pd
from config import api_key
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [ ]:
defaultdatafinal= "defaultdatafinal.csv"
default_data_file = pd.read_csv(defaultdatafinal)
default_data_file.head()

default_data_final= default_data_file.drop("Unnamed: 0" , axis=1)
default_data_file.head()

In [2]:
dl_by_school_type= "dl_by_school_type.csv"
dl_school_type_file = pd.read_csv(dl_by_school_type)
dl_school_type_file.head()
dl_school_rename = dl_school_type_file.rename(columns={"Institution Type":"Insti_type","Date":"date","QTR": "QTR","dollar_outstanding":"dollar_outstanding","receipient":"receipient"})
dl_school_rename.head()
# dl_school_type_final= dl_school_type_file.drop("Unnamed: 0" , axis=1)

  Insti_type  date QTR dollar_outstanding  receipient
0     Public  2017  Q4            $464.2         19.4
1     Public  2018  Q1            $467.6         19.6
2     Public  2018  Q2            $484.4         19.7
3     Public  2018  Q3            $486.1         19.6
4     Public  2018  Q4            $508.4         20.4

In [3]:
rds_connection_string = "root:Pimn@2001@127.0.0.1/school_uni_db"
engine = create_engine(f'mysql://{rds_connection_string}')

In [ ]:
default_data_final.to_sql("default_data_final", con = engine, schema=None, if_exists='replace', index=False)

In [4]:
dl_school_rename.to_sql("dl_school_rename", con = engine, schema=None, if_exists='replace', index=False)